# MacOS
**/.DS_Store
**/._.DS_Store

# IntelliJ
**/*.iml
**/.idea/

# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
/.vscode/

# Storage
storage/

# Temporary
temporary/
